{:paths ["src" "resources"]
 :deps {hato/hato {:mvn/version "0.9.0"} 
        http-kit/http-kit {:mvn/version "2.8.0"}
        integrant/integrant {:mvn/version "0.13.1"}
        nrepl/nrepl {:mvn/version "1.3.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.14.1"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.7.701"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
       ;;  Scicloj / clay deps
        scicloj/tablecloth {:mvn/version "7.029.2"}
        techascent/tech.ml.dataset {:mvn/version "7.053"}
        org.scicloj/kindly {:mvn/version "4-beta15"}
        org.scicloj/clay {:mvn/version "2-beta32"}
        org.scicloj/tableplot {:mvn/version "1-beta11"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.14.1"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
        :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                   ;;      "-Djdk.httpclient.HttpClient.log=all"
                   ]}
  :nrepl-ws {:main-opts ["-m" "nrepl-ws.server.main"]}
  :nrepl {:main-opts ["-m" "nrepl.cmdline" "-p" "7890"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.clojure/test.check {:mvn/version "1.1.1"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}